.btn{
    width: 100%;
    border: 3px solid black;
    background: none;
    aspect-ratio: 1 / 1;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.btn:hover,
.btn:focus{
    background-color: lightblue;
}
.active{
    color: rgb(5, 179, 236)
}
.inactive{
    opacity: 0.3;
}
